@page "/"
@model IgnatDariaLab2.Pages.Books.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by Book Title / Author Name:
            <input type="text" name="searchString" value="@Model.CurrentFilter" class="form-control" />
            <input type="submit" value="Search" class="btn btn-primary" />
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.TitleSort">
                    @Html.DisplayNameFor(model => model.Book[0].Title)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.AuthorSort">
                    Author
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Publisher.PublisherName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].PublishingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].BookCategories)
            </th>
            <th></th>
        </tr>
    </thead>



    <tbody>
        @foreach (var book in Model.BookD.Books)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author.FirstName @book.Author.LastName</td>
                <td>@book.Price</td>
                <td>@book.Publisher?.PublisherName</td>
                <td>@book.PublishingDate.ToString("d")</td>
                <td>
                    @foreach (var category in book.BookCategories)
                    {
                        @category.Category.CategoryName

                        <br />
                    }
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@book.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@book.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@book.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>

</table>
